<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改系统参数')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-paramSet-edit" th:object="${paramSet}">
            <input name="paramId" th:field="*{paramId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">参数编码：</label>
                <div class="col-sm-8">
                    <input name="paramCode" th:field="*{paramCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">参数键值：</label>
                <div class="col-sm-8">
                    <textarea name="paramValue" class="form-control">[[*{paramValue}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "manage/paramSet";
        $("#form-paramSet-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-paramSet-edit').serialize());
            }
        }
    </script>
</body>
</html>